# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# TypeScript
*.tsbuildinfo
src/**/*.js
src/**/*.js.map

# env files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Database
*.sqlite
*.sqlite3

# Temp directories
.temp
.tmp
.cache

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache